In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

In [7]:
subjectTree = ET.parse('subjectsfullbody.xml', ET.XMLParser(encoding="utf-8"))
subjectRoot = subjectTree.getroot()
contentTree = ET.parse('contentfullbody.xml', ET.XMLParser(encoding="utf-8"))
contentRoot = contentTree.getroot()

In [13]:
# df = pd.DataFrame(columns=['subject'])
subjects_rows_list = []
contents_rows_list = []
for subject in subjectRoot.iter('subject'):
    subjects_rows_list.append(subject.text)
for content in contentRoot.iter('content'):
    contents_rows_list.append(content.text)
#df = pd.DataFrame({'subject': subjects_rows_list, 'content': contents_rows_list})   
df1 = pd.DataFrame(subjects_rows_list)
df2 = pd.DataFrame(contents_rows_list)
df1.describe()

                        0
count             2446363
unique            2373780
top     what should i do?
freq                  450

In [14]:
# Export to CSV
df2.describe()

              0
count   1256173
unique  1223844
top           ?
freq        295